<div>
	<h1>Welcome.</h1>
	<h1 style="line-height: 1.5;">Here you'll find experiments by <%= link_to "Phil Nguyen", "http://www.twitter.com/p_ngu", :style => "color: #eb9683;" %> on artificial intelligence, machine learning, and robotics.</h1>
	<h1>You can also follow along <%= link_to "on Twitter", "http://www.twitter.com/potpourriai", :style => "color: #eb9683;" %>.</h1>
</div>
<hr/ style="margin-top: 100px;">
<div class="row">
  <div class="col-md-12">    
    December 11, 2015
    <h1><%= link_to "AIML Lunch & Learn", "https://docs.google.com/presentation/d/1kUoyILLPH7tmh9muARjQT2E3lXTVUSvUXlgyUdHU-xE/edit?usp=sharing", :style => "color: #eb9683;" %></h1>
    <h4>Quick presentation I put together on the basics of Artificial Intelligence Markup Language</h4>
  </div>
</div>